<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="unit">
            <directory>packages/runtime-pack/tests/Unit</directory>
            <directory>packages/symfony-bridge/tests/Unit</directory>
            <directory>packages/symfony-bundle/tests/Unit</directory>
            <directory>packages/symfony-messenger/tests/Unit</directory>
            <directory>packages/symfony-otel/tests/Unit</directory>
            <directory>packages/symfony-realtime/tests/Unit</directory>
        </testsuite>
        <testsuite name="property">
            <directory>packages/runtime-pack/tests/Property</directory>
            <directory>packages/symfony-bridge/tests/Property</directory>
            <directory>packages/symfony-bundle/tests/Property</directory>
            <directory>packages/symfony-messenger/tests/Property</directory>
            <directory>packages/symfony-otel/tests/Property</directory>
            <directory>packages/symfony-realtime/tests/Property</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>packages/runtime-pack/tests/Integration</directory>
            <directory>packages/symfony-bridge/tests/Integration</directory>
            <directory>packages/symfony-bundle/tests/Integration</directory>
            <directory>packages/symfony-messenger/tests/Integration</directory>
            <directory>packages/symfony-otel/tests/Integration</directory>
            <directory>packages/symfony-realtime/tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>packages/runtime-pack/src</directory>
            <directory>packages/symfony-bridge/src</directory>
            <directory>packages/symfony-bundle/src</directory>
            <directory>packages/symfony-messenger/src</directory>
            <directory>packages/symfony-otel/src</directory>
            <directory>packages/symfony-realtime/src</directory>
        </include>
    </source>
</phpunit>
